*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 100%
}

body {
    font-family: 'Righteous', cursive;
    background-color: #806367;
    scroll-behavior: smooth;
    padding-top: 30px;
}

.container {
    width: 100%;
    text-align: center;
}

.container > div {
    margin-top: 30px;
}


.title {
    color: rgb(214, 212, 212);
    text-transform: uppercase;
    margin-bottom: 40px;
}

h4 {
    color: rgb(32, 32, 32);
    margin-bottom: 5px;
}

input {
    padding:  7px;
    border: ridge 2px gray;
}

select {
    padding: 7px 0;
    width: fit-content;
}

button {
    padding: 7px 30px;
    margin-top: 30px;
    cursor: pointer;
}

#note {
    margin-top: 50px;
}